@font-face {
    font-family: NotoSans;
    src: url(/online/fonts/NotoSansVar.ttf);
}
@font-face {
    font-family: Sono;
    src: url(/online/fonts/SonoVar.ttf);
}
body {
    background-color: #1e1e1e;
    font-family: NotoSans;
    color: lightgray;
    line-height: 1.6em;
}
.vert {
    display: inline-flex;
    align-items: left;
    column-gap: 10px;
    flex-wrap: wrap;
}
h2 {
    color: white;
}
@media (max-width: 680px) {
    h2 {
        text-align: center;
    }
}
h3 {
    color: white;
}
span.hash {
    font-weight: bold;
    color: #495d77;
}
.link {
    width: 16px;
    height: 16px;
    margin-top: auto;
    margin-bottom: auto;
}
#notify {
    color: gray;
    margin-top: auto;
    margin-bottom: auto;
}
.code {
    background-color: #111111;
        color: white;
        font-family: Sono;
        border-radius: 5px;
        padding: 3px 5px;
}
@media (min-width: 680px) {
    .code {
        font-size: 15px;
    }
}
.indent {
    margin: 0 auto;
    max-width: 1180px;
}
.subheader {
    display: flex;
    justify-content: left;
    margin-left: 2em;
}
@media (max-width: 680px) {
    .subheader {
        margin: 0;
    }
}
span.subhash {
    color: #77494e;
}
span.subhash2 {
    color: #507749;
}
a {
    color: #82a6d6;
}
.table-background {
    display: flex;
    background-color: none;
    margin-left: 2em;
    margin-right: 2em;
    margin-bottom: 10px;
    border-radius: 5px;
    overflow: hidden;
}
@media (max-width: 680px) {
    .table-background {
        margin-left: 0;
        margin-right: 0;
    }
}
.tg {
    border-collapse:collapse;
    border-spacing:0;
    border-radius: 5px;
}
.tg td {
    border-color:black;
    border-style:solid;
    border-width:1px;
    font-family:NotoSans;
    font-size:14px;
    overflow:hidden;
    padding:10px 10px;
    word-break:normal;
}
.tg th {
    border-color:black;
    border-style:solid;
    border-width:1px;
    font-family:NotoSans;
    font-size:14px;
    font-weight:normal;
    overflow:hidden;
    padding:15px 15px;
    word-break:normal;
}
.tg .tg-2392 {
    background-color:#111111;
    color:#ffffff;
    font-family:Sono;
    text-align:left;
    vertical-align:top;
}
.tg .tg-rxn2 {
    background-color:#383838;
    border-color:#383838;
    color:#ffffff;
    font-family:NotoSans;
    text-align:left;
    vertical-align:top;
}
.tg .tg-pni0 {
    background-color:#383838;
    border-color:#383838;
    height: 0;
    color:#ffffff;
    font-family:NotoSans;
    text-align:left;
    vertical-align:middle;
}
.tg img {
    background-color:#111111;
    border-radius: 5px;
    width: 192px;
    height: 192px;
    padding-top: 8px;
    padding-left: 4px;
    padding-right: 4px;
}
@media (max-width: 680px) {
    .tg img {
        width: 96px;
        height: 96px;
        padding-top: 4px;
        padding-left: 2px;
        padding-right: 2px;
    }
}
#backgrounds {
	height: 262px;
    width: auto;
    padding: 0;
}
@media (max-width: 680px) {
    #backgrounds {
        height: 126px;
        width: auto;
    }
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    border-radius: 5px;
}
::-webkit-scrollbar-thumb {
    background: gray; 
    border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
    background: white;
    cursor: default;
}
